body{
    margin:150px;
}
.container{
    
    background-color: aliceblue;
    width: 100;
    min-height: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
}
.grid-item{
    height: 100%;
}
.one{
    grid-column-start: 1;
    grid-column-end: 3;
}
.two{
    background-color: hsl(259, 8%, 39%);
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.three{
    grid-column-start: 1;
    grid-column-end: 2;
}
.four{
    grid-column-start: 2;
    grid-column-end: 3;
}
.five{
    grid-column-start: 1;
    grid-column-end: 2;
}
.six{
    grid-column-start: 2;
    grid-column-end: 3;
}
button{
    background-color: orangered;
}
h1{
   text-decoration: bold; 
}
nav{
   text-align: end;
   background-color: white;
   text-decoration: none;

}
img{
    width:650px;
    height:300px;
}
@media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
  @media (max-width: 480px) {
    .navbar, .footer {
      padding: 5px;
    }
  }
 